
#header {
	background: url("tubbs2.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#header div {
	text-shadow: 3px 3px black;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	color: white;
	letter-spacing: 2px;
	padding-left: 50px;
}

#subj {
	padding-top: 5px;
	font-size: 30px;
	line-height: 95px;
}

#name {
	padding-top: 20px;
	padding-bottom: 50px;
	font-size: 80px;
	line-height: 98px;
}

#fave {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 50px;
	padding: 30px;
	text-align: center;
}

#grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 50px;
	padding: 50px;
}

#grid div {
	text-align: center;
	padding: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

#grid p {
	text-align: justify;
}

#contact {
	width: 100%;
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #4682b4;
}

#contact li {
	display: inline-block;
	padding: 10px 10px;
}